#header {background:darkgray ;
    width :100%}
#boxa {width:960px;
    margin:0 auto;
    height:3rem;
}
#logo {margin-left:40px;
float:left;
line-height: 3rem}
#logo ,  .a{color:white}

#herf{float: right;
     
     }
.clearfix {clear: both;
   ;}


#navigation {width: 100%;
background-color:#66bb33;
height:5rem;
height: 10rem;}

.flag{float:right;
  border:black 1px solid;
    margin-left: 5px;
    position:relative;
    top: 8rem;
 
    
    
background-color: #b2dd99}

#content1, #contentb{width:960px;
margin:0 auto;
}

#contenta{border-bottom: slategrey 1px solid}

.options{border-radius: 5px 5px 0 0;
         border-top:darkgrey solid;
         border-right:darkgrey solid;
         border-left:darkgrey   solid;
        float:left;
         background-color:darkgray;
       }
       .options a{text-decoration: none}

.f {display:flex;
     width:100%}
[data-f]{display:flex;
    padding:60px;
   flex: 1;
    border:darkgray solid;
margin:1}
#footer{
    text-align:center;
    background-color:darkgray;
height: 5rem;}
.options a:focus,.options a:hover ,.options a.active {
background-color: white;
border-bottom: none;
padding-bottom: 1px}/*内边距拉多一个像素,就遮盖了下面的线*/

.flag a:focus,.flag a:hover ,.flag a.active{

    height:3rem ;
    background-color: white;
    height: 4rem;
}
    .flag a{text-decoration: none;
        }