/*实现一个两栏布局，左侧固定宽度，右侧根据浏览器宽度进行自适应变化*/
.a{background-color: chartreuse;
height:10rem}
.b{background-color:darkred;
    height:10rem}

.a{float:left;
width: 10px}
.b{float:left;
    width: calc(100% - 10px)}